/* Desktop-first */
/*  */
/*  */
/*  */
/*  */
/* reset */

ul, li, menu{
    list-style: none;
}


/* header */

header{
    background-color: #FEFBF4;
    padding: 20px;
}

.logo-image img{
    max-width: 100px;
}

/* hero */

.hero{
    background-color:#FEFBF4 ;
}

.carousel-width-img img{
    max-width: 100%;
    min-height: 200px;
    max-height: 500px;
    aspect-ratio: 1;
    border-radius: 15px;
    
}

/* who are */

.who-are{
    background-color: rgb(227, 186, 193);
}

.button-who-are{
    background-color: rgb(97, 131, 97);
    text-align: center;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 2px 8px;
    transition: all 300ms ease-in;
    
}

.button-who-are:hover{
    background-color: #FEFBF4;
    color: rgb(97, 131, 97);
}


.card-bg.card {
    background-color: rgb(97, 131, 97);
    max-width: 80%;
    margin-top: 18px;
    margin-left: 10px;
}
.card-bg img{
    border-radius: 6px;
    transform: translate(-20px, 30px);
    transition: all 300ms ease-in;
    
}

.card-bg img:hover{
    transform: translate(0, 0);
}

/* nostri stili */

.our-style{
    background-color: #FEFBF4;
}

.card-style.card{
    background-color: #FEFBF4;
}

.card-overlay.card-title{
    color: white;
}

.card-style.card img{
    aspect-ratio: 1;
}

.button-style{
    display: block;
    margin: auto;
    border: none;
    border-radius: 20px;
    padding: 2px 8px;
    background-color: rgb(227, 186, 193);
    color: black;
    transition: all 300ms ease;
    
}

.card-style:hover .button-style{
    background-color: brown;
    color: white;
}





